# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*.backup
*.terraform.lock.hcl
*/.terraform.lock.hcl

#Ignoring env var files in terragrunt for security
*/**/env_vars.yaml
config-*.yaml

#Ignoring wrapper/sov-cli
wrapper/sov-cli
*/**.tar.gz

# My notes
otp.txt
sso.txt