#!/bin/bash

#Set the EIP to the Instance
INSTANCE_ID=$(curl -s http://instance-data.amazonaws.com/latest/meta-data/instance-id)
aws ec2 associate-address --instance-id $INSTANCE_ID --allocation-id $${allocation_id}

sudo apt update
sudo apt install software-properties-common
sudo add-apt-repository --yes --update ppa:ansible/ansible
DEBIAN_FRONTEND=noninteractive sudo apt install ansible git jose -y
ansible-galaxy collection install community.aws

cd /home/ubuntu
git clone https://github.com/fidsamurai/sovereign-stack.git --branch main --depth 1

sudo dd if=/dev/zero of=/swapfile bs=1G count=2
sudo chmod 600 /swapfile
sudo mkswap /swapfile
sudo swapon /swapfile

sed -i "s/concat_bucket_name/${var.final_domain}/g" ~/sovereign-stack/ansible/group_vars/_all