on:
  push:
    tags:
    - 'v*'
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.4'
    - name: Build
      run: |
        #Linux x86_64
        GOOS=linux GOARCH=amd64 go build -o sov-cli .
        #Linux ARM64
        GOOS=linux GOARCH=arm64 go build -o sov-cli .
        #Mac
        GOOS=darwin GOARCH=amd64 go build -o sov-cli .
        #Windows
        GOOS=windows GOARCH=amd64 go build -o sov-cli.exe .